@page "/"
@using System.Text.Json
@using Ocelot.Configuration.File
@using CodePlus.ApiGateway.Data.Ocelots
@using CodePlus.ApiGateway.Data.Logins

@inject IOcelotAdminService OcelotAdminService
@inject NotificationService _notice
@inject MessageService _message
@inject ModalService _modal
@inject IJSRuntime JSRuntime

<Button Type="primary" OnClick="OpenAdd">Add routing configuration</Button>
<Spin Spinning=@_loading>
    <Table Class="route-table"
           DataSource="@_ocelotConfiguration.Routes.ToArray()">
        <Column @bind-Field="@context.DownstreamPathTemplate" Title="Downstream Address Template"></Column>
        <Column @bind-Field="@context.UpstreamPathTemplate" Title="Upstream address template"></Column>
        <Column @bind-Field="@context.DownstreamHostAndPorts" Title="Downstream IP Port">
            @foreach (var hostInfo in context.DownstreamHostAndPorts)
            {
                <Tag Color="green">@hostInfo.Host:@hostInfo.Port</Tag>
            }
        </Column>
        <Column @bind-Field="@context.DownstreamScheme" Title="DownstreamScheme">
            <Tag Color="blue">@context.DownstreamScheme</Tag>
        </Column>
        <Column @bind-Field="@context.UpstreamHttpMethod" Title="Upstream Http Request">
            @foreach (var method in context.UpstreamHttpMethod)
            {
                var color = "orange-inverse";
                if (method.ToLower() == "post")
                {
                    color = "green-inverse";
                }
                if (method.ToLower() == "get")
                {
                    color = "blue-inverse";
                }
                if (method.ToLower() == "delete")
                {
                    color = "red-inverse";
                }
                <Tag Color="@color">@method</Tag>
            }
        </Column>
        <ActionColumn Title="Action">
            <Space Size="middle">
                <SpaceItem>
                    <Button Type="link" OnClick="_=>Edit(context.UpstreamPathTemplate,context.DownstreamPathTemplate)" Block>Modify</Button>
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm Placement="@PlacementType.TopRight" Title="@("Are you sure to delete this item")" OkText="@("OK")" CancelText="@("Cancel")" OnConfirm="_=> Delete(context.UpstreamPathTemplate,context.DownstreamPathTemplate)">
                        <Button Type="link" Danger>Delete</Button>
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</Spin>
<div>
    <Drawer Closable="true" Width="720" Visible="_visible" Title='("Gateway routing information")' OnClose="_=>Close()">
        <Template style="height:90%">
            <Row Gutter="16">
                <AntDesign.Col Span="24">
                    <Text>Upstream address template</Text>
                    <Input Class="config-input" Placeholder="Please enter the upstream address template" Disabled="_isEdit" TValue="string" @bind-Value="@model.UpstreamPathTemplate"></Input>
                </AntDesign.Col>
            </Row>
            <br />
            <Row Gutter="16">
                <AntDesign.Col Span="24">
                    <Text>Downstream address template</Text>
                    <Input Class="config-input" Placeholder="Please enter the downstream address template" Disabled="_isEdit" TValue="string" @bind-Value="@model.DownstreamPathTemplate"></Input>
                </AntDesign.Col>
            </Row>
            <br />
            <Row Gutter="16">
                <AntDesign.Col Span="12">
                    <Text>HTTP method of upstream address</Text> <Text Type="warning">(multiple separated by comma)</Text>
                    <Input Class="config-input" Placeholder="Please enter the HTTP method of the upstream address" TValue="string" @bind-Value="@upstreamHttpMethod" />
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <Text>Downstream address HTTP method</Text>
                    <Input Class="config-input" Placeholder="Please enter the downstream address HTTP method" TValue="string" @bind-Value="@model.DownstreamHttpMethod" />
                </AntDesign.Col>
            </Row>
            <br />
            <Row Gutter="16">
                <AntDesign.Col Span="12">
                    <Text>Downstream IP</Text>
                    <Input Class="config-input" Placeholder="Please enter the downstream IP" TValue="string" @bind-Value="@fileHostAndPort.Host" />
                </AntDesign.Col>
                <AntDesign.Col Span="12">
                    <Text>Downstream port</Text>
                    <Input Class="config-input" Placeholder="Please enter the downstream port" TValue="int" @bind-Value="@fileHostAndPort.Port" />
                </AntDesign.Col>
            </Row>
            <br />
            <Row Gutter="16">
                <AntDesign.Col Span="12">
                    <Text>Downstream Scheme</Text> <Text Type="warning">(Valid parameter: https|http|ws)</Text>
                    <Input Class="config-input" Placeholder="Please enter the downstream IP" TValue="string" @bind-Value="@model.DownstreamScheme" />
                </AntDesign.Col>
            </Row>
            <br />
            <Row>
                <AntDesign.Col Span="18">

                </AntDesign.Col>
                <AntDesign.Col Span="6" Style="text-align: end;">
                    <Button Type="default" OnClick="Close">Return</Button>
                    <Button Type="primary" OnClick="_=>Submit()">Submit</Button>
                </AntDesign.Col>
            </Row>

        </Template>
    </Drawer>
</div>

<style>
    .route-table {
        margin: 10px 0;
    }

    .table-message {
        margin: 10px 0 0 0;
    }

    .ant-input {
        margin-top: 8px;
    }
</style>
@code {

    private bool _loading = true;

    private bool _visible = false;

    private bool _isEdit = false;

    private string upstreamHttpMethod = "";

    private string downstreamHttpMethod = "";

    private FileConfiguration _ocelotConfiguration = new FileConfiguration();

    private FileRoute model = new FileRoute();

    private FileHostAndPort fileHostAndPort = new FileHostAndPort();

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var token = await GetToken();
        if (string.IsNullOrWhiteSpace(token))
        {
            await OpenTemplate();
        }
        else
        {
            if (firstRender)
            {
                _ocelotConfiguration = await OcelotAdminService.GetConfigAsync(token);
                _loading = false;
            }
            await InvokeAsync(StateHasChanged);
        }

    }

    private void Close()
    {
        upstreamHttpMethod = "";
        downstreamHttpMethod = "";
        model = new FileRoute();
        fileHostAndPort = new FileHostAndPort();
        this._visible = false;
    }

    private void OpenAdd()
    {
        this._isEdit = false;
        this._visible = true;
    }

    private async Task Submit()
    {
        if (_isEdit)
        {
            await Update();
        }
        else
        {
            await Create();
        }

    }
    private async Task Delete(string upUrl, string downUrl)
    {
        var token = await GetToken();
        if (string.IsNullOrWhiteSpace(token))
        {
            _message.Error("Key expired, please log in again");
            await OpenTemplate();
        }
        else
        {
            var result = await OcelotAdminService.DeleteConfigAsync(upUrl, downUrl, token);
            if (!string.IsNullOrWhiteSpace(result.HttpResponseMessages))
            {
                await OpenNotificationAsync("Deletion failed", result.HttpResponseMessages, NotificationType.Error);
            }
            else
            {
                _message.Success("Delete successfully");
                _ocelotConfiguration = result.Result;
            }
        }
    }

    private async Task Edit(string upUrl, string downUrl)
    {
        var token = await GetToken();
        if (string.IsNullOrWhiteSpace(token))
        {
            _message.Error("Key expired, please log in again");
            await OpenTemplate();
        }
        else
        {
            var data = await OcelotAdminService.GetConfigByAsync(upUrl, downUrl, token);
            model = data.Result;
            upstreamHttpMethod = string.Join(',', model.UpstreamHttpMethod);
            fileHostAndPort = model.DownstreamHostAndPorts.FirstOrDefault();
            this._isEdit = true;
            this._visible = true;
        }
    }

    private async Task Create()
    {
        model.UpstreamHttpMethod = upstreamHttpMethod.Split(',').ToList();
        model.DownstreamHostAndPorts.Add(fileHostAndPort);
        var token = await GetToken();
        if (string.IsNullOrWhiteSpace(token))
        {
            _message.Error("Key expired, please log in again");
            await OpenTemplate();
        }
        else
        {
            var result = await OcelotAdminService.SetConfigAsync(model, token);
            if (!string.IsNullOrWhiteSpace(result.HttpResponseMessages))
            {
                await OpenNotificationAsync("Create failed", result.HttpResponseMessages, NotificationType.Error);
            }
            else
            {
                _ocelotConfiguration = result.Result;
                _message.Success("Created successfully");
                Close();
            }
        }
    }
    private async Task Update()
    {
        model.UpstreamHttpMethod = upstreamHttpMethod.Split(',').ToList();
        model.DownstreamHostAndPorts = new List<FileHostAndPort> { fileHostAndPort };
        var token = await GetToken();
        if (string.IsNullOrWhiteSpace(token))
        {
            _message.Error("Key expired, please log in again");
            await OpenTemplate();
        }
        else
        {
            var result = await OcelotAdminService.UpdateConfigAsync(model, token);
            if (!string.IsNullOrWhiteSpace(result.HttpResponseMessages))
            {
                await OpenNotificationAsync("Modification failed", result.HttpResponseMessages, NotificationType.Error);
            }
            else
            {
                _ocelotConfiguration = result.Result;
                _message.Success("Modified successfully");
                Close();
            }
        }
    }

    private async Task OpenNotificationAsync(string title, string description, NotificationType type)
    {
        await _notice.Open(new NotificationConfig()
        {
            Message = title,
            Description = description,
            NotificationType = type
        });
    }

    private ModalRef _modalRef;

    private async Task OpenTemplate()
    {
        var templateOptions = new LoginInputDto();
        var modalConfig = new ModalOptions();
        modalConfig.Title = "Login";
        modalConfig.MaskClosable = false;
        modalConfig.Footer = null;
        modalConfig.Closable = false;
        modalConfig.Keyboard = false;
        modalConfig.AfterClose = async () =>
        {
            var token = await GetToken();
            if (string.IsNullOrWhiteSpace(token))
            {
                _message.Error("Key expired, please log in again");
                await OpenTemplate();
            }
            else
            {
                _ocelotConfiguration = await OcelotAdminService.GetConfigAsync(token);
                _loading = false;
                await InvokeAsync(StateHasChanged);
            }
        };

        _modalRef = await _modal
        .CreateModalAsync<Login, LoginInputDto>
        (modalConfig, templateOptions);
    }

    private async Task<string> GetToken()
    {
        var token = await JSRuntime.InvokeAsync<string>(
            "gatewayJsFunctions.getCookie",
            "AccessToken");
        return token;

    }
}
